<div id="fh5co-header" role="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="index.html"><img class="logoImage"  /> </a>
            </div>
            <div id="fh5co-navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @*<li class="active"><a href="index.html"><span>@Html.ActionLink("Home", "Index", "Home") <span class="border"></span></span></a></li>
                        <li><a href="right-sidebar.html"><span>@Html.ActionLink("About", "About", "Home") <span class="border"></span></span></a></li>

                        <li><a href="elements.html"><span>@Html.ActionLink("Contact", "Contact", "Home") <span class="border"></span></span></a></li>*@
                    <li class="active"><a href="@Url.Action("Index", "Home")"><span>Home <span class="border"></span></span></a></li>
                    <li><a href="@Url.Action("About", "Home")"><span>About <span class="border"></span></span></a></li>
                    
                    <li><a href="@Url.Action("Courses", "Home")"><span>Courses <span class="border"></span></span></a></li>
                    <li><a href="@Url.Action("Contact", "Home")"><span>Faculty <span class="border"></span></span></a></li>
                    <li><a href="@Url.Action("Contact", "Home")"><span>Scholarship <span class="border"></span></span></a></li>
                    <li><a href="@Url.Action("Contact", "Home")"><span>News <span class="border"></span></span></a></li>
                    <li><a href="@Url.Action("Contact", "Home")"><span>Gallery <span class="border"></span></span></a></li>
                    <li><a href="@Url.Action("Contact", "Home")"><span>Management <span class="border"></span></span></a></li>
                    <li><a href="@Url.Action("Contact", "Home")"><span>Contact <span class="border"></span></span></a></li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </nav>
</div>
