<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="index.html">
                <img src="~/assets/images/logo.png" alt="Techro HTML5 template">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right mainNav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>
                <li><a href="@Url.Action("Courses", "Home")">Courses</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Price</a></li>
                <li><a href="@Url.Action("Gallery", "Home")">Gallery</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="sidebar-right.html">Right Sidebar</a></li>
                        <li><a href="#">Dummy Link1</a></li>
                        <li><a href="#">Dummy Link2</a></li>
                        <li><a href="#">Dummy Link3</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->

@*<div id="fh5co-header" role="banner">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><img class="logoImage" /> </a>
                    <p class="navbar-text visible-xs-inline-block">Text Here</p>

                      &nbsp;  <span style="font-size:20px;" > <font color="red"> सुरेंद्र पाल शर्मा डिग्री कॉलेज, देहोली, अलीगढ़</font></span><br />
                    &nbsp;<span style="font-size:18px;"> <font color="red">Surendra Pal Sharma Degree College, Diholi, Aligarh</font> </span><br />
                    &nbsp;   <small>(Affiliated By Dr. Bhim Rao Ambedkar University, Agra University)</small>

                        <!-- Mobile Toggle Menu Button -->
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>

                       </div>
                <div id="fh5co-navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="@Url.Action("Index", "Home")"><span>Home <span class="border"></span></span></a></li>
                        <li><a href="@Url.Action("About", "Home")"><span>About Us <span class="border"></span></span></a></li>
                        <li><a href="@Url.Action("Courses", "Home")"><span>Programs Offered <span class="border"></span></span></a></li>
                        <li><a href="@Url.Action("Contact", "Home")"><span>Faculty <span class="border"></span></span></a></li>
                        <li><a href="@Url.Action("Contact", "Home")"><span>Course Enquiry <span class="border"></span></span></a></li>

                        <li><a href="@Url.Action("Contact", "Home")"><span>Picture Gallery <span class="border"></span></span></a></li>
                       <li><a href="@Url.Action("Contact", "Home")"><span>Management <span class="border"></span></span></a></li>
                        <li><a href="@Url.Action("Contact", "Home")"><span>Contact Us <span class="border"></span></span></a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>*@
