<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .logoImage {
            background: url('images/sps.png') no-repeat center right;
            display: block;
            height: 84px;
            width: 264px;
            margin-top: 0px;
        }
    </style>
</head>
<body>
    @Html.Partial("_Header")
    <header id="head" class="secondary">
        <div class="container">
            <h1>@ViewBag.Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p>
        </div>
    </header>

    <section class="container">
        @RenderBody()
    </section>

        @Html.Partial("_Footer")






        @Scripts.Render("~/bundles/jquery")
      

        @RenderSection("scripts", required: false)


</body>
</html>
